.header{
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.trybewarts-login{
  display: flex
}
#evaluation-form{
  display: flex;
  width: 675px;
  background-color: aqua;
  border: solid black;
}
main{
  display: flex;
}