.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}
#evaluation-form {
  display: flex;
  width: 675px;
  border: solid black;
  flex-direction: column;
}
#evaluation-form input {
  width: 400px;
}
#evaluation-form .container {
  display: flex;
}

main {
  display: flex;
}
#trybewarts-forms-logo {
  height: 500px;
}
